<%- contentFor('style') %>
<link rel="stylesheet" href="page/home/home.css">
<link rel="stylesheet" href="modals/detail.css">

<%- contentFor('script') %>
<script src="page/home/home.js"></script>
<script src="page/home/turn.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.0.2/jquery.simpleWeather.min.js"></script>
<script src="core/js/weather.code.js"></script>

<%- contentFor('body') %>
<div class="flex-1 desktop flex-row <%= page%>">
	<div class="flex-1 flex-column pic-notebook">
        <div class="flex-row flex-start flex-full-width">
			<div class="photo-outer flex-column flex-center">
				<div class="photo-inner flex-1">
					<img src='<%=result.get("fbPicture")%>'>
				</div>
				<div class="flex-center name_style"><%= result.get('displayName') %></div>
			</div>
            <h4 class="flex-1 flex-center ">Dreams</h4>
			<div class="flex-column flex-end">
				<span class="date" id="clock"></span>
				<span class="weather"><span>天氣</span><img src="core/images/Thermometer.svg"></span>
			</div>
        </div>
        <div class="flex-1 lines-container">
            <div class="lines"></div>
            <div id="flip_page" class="list">
				<% for(var j = 0; j < 2; j ++) {%>
				<div class="page">
					<% for(var i = j*8; i < (j+1)*8; i ++) {%>
					<div class="flex-row flex-start dream" for="<%= result.get('Dreams')[i] ? result.get('Dreams')[i].id : ''%>">
						<% if(i < result.get('Dreams').length) {%>
						<span class="fa-stack fa-lg delBtn"  onclick=<%= "delDream('"+result.get('Dreams')[i].id+"')" %>>
						  <i class="fa fa-circle fa-stack-2x" style="color: rgb(199, 10, 10);"></i>
						  <i class="fa fa-trash fa-stack-1x fa-inverse"></i>
						</span>
						<div class="">
							<span class="dream-title"><%= result.get('Dreams')[i].get('title') %></span>
						</div>
						<span class="fa-stack fa-lg detailBtn">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-ellipsis-h fa-stack-1x fa-inverse"></i>
						</span>
						<% } else {%>
						<span class="fa-stack fa-lg disabled delBtn">
						  <i class="fa fa-circle fa-stack-2x" style="color: rgb(199, 10, 10);"></i>
						  <i class="fa fa-trash fa-stack-1x fa-inverse"></i>
						</span>
						<span class="dream-title">　</span>
						<% }%>
					</div>
					<% }%>
				</div>
				<% }%>
            </div>
        </div>
	</div>
	<% if(result.id == UserId) {%>
	<div class="flex-column right-part">
		<div class="flex-1 flex-row flex-center">
			<div class="flex-1 flex-center">
				<span class="eraser"></span>
				<span class="pencil"></span>
			</div>
		</div>
	</div>
	<% }%>
</div>


<div class="modal-content">
	<div class="new-dream-modal">
		<div id="dream-title">I have a dream</div>
		<div class="form-group">
			<label for="title">夢想標題</label>
			<input type="text" id="title" placeholder="你的夢想是什麼?">
		</div>
		<div class="form-group">
			<label for="description">夢想描述</label>
			<textarea id="description" placeholder="說說你的夢想吧!"></textarea>
		</div>
		<div class="form-group">
			<label for="photo">夢想圖片</label>
			<input type="file" id="photo">
		</div>
		<div class="form-group">
			<label for="type">夢想類型</label>
			<select id="type">
				<option value="travel">旅遊</option>
				<option value="experience">經驗</option>
				<option value="adventure">冒險</option>
				<option value="skill">技能</option>
				<option value="family">家庭</option>
				<option value="others">其他</option>
			</select>
		</div>
		<button type="button" id="upload">送出夢想</button>
	</div>
	<% include ../partials/modals/detail %>
</div>
