<%- contentFor('style') %>
<link rel="stylesheet" href="page/home/home.css">
<link rel="stylesheet" href="modals/detail.css">
<link rel="stylesheet" href="modals/upload.css">

<%- contentFor('script') %>
<script src="page/home/home.js"></script>
<script src="page/home/turn.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.0.2/jquery.simpleWeather.min.js"></script>
<script src="core/js/weather.code.js"></script>

<%- contentFor('body') %>
<div class="flex-1 desktop flex-row <%= page%>">
	<div class="flex-1 flex-column pic-notebook">
        <div class="flex-row flex-start flex-full-width">
			<div class="photo-outer flex-column flex-center">
				<div class="photo-inner flex-1">
					<img src='<%=result.get("fbPicture")%>'>
				</div>
				<div class="flex-center name_style setofont"><%= result.get('displayName') %></div>
			</div>
            <h4 class="flex-1 flex-center setofont">Dreams</h4>
			<div class="flex-column flex-end">
				<span class="date setofont" id="clock"></span>
				<span class="weather"><span class="setofont">天氣</span><img src="core/images/Thermometer.svg"></span>
			</div>
        </div>
        <div class="flex-1 lines-container">
            <div class="lines"></div>
            <div id="flip_page" class="list" style="height: 300px;">
				<% for(var j = 0; j < ((result.get('Dreams').length/7)>1?(result.get('Dreams').length/7):2); j ++) {%>
				<div class="page">
					<% for(var i = j*7; i < (j+1)*7; i ++) {%>
					<div class="flex-row flex-start dream" for="<%= result.get('Dreams')[i] ? result.get('Dreams')[i].id : ''%>">
						<% if(i < result.get('Dreams').length) {%>
						<div class="flex-1">
							<span class="fa-stack fa-lg delBtn"  onclick=<%= "delDream('"+result.get('Dreams')[i].id+"')" %>>
							  <i class="fa fa-circle fa-stack-2x" style="color: rgb(199, 10, 10);"></i>
							  <i class="fa fa-trash fa-stack-1x fa-inverse"></i>
							</span>							
							<span class="dream-title setofont"><%= result.get('Dreams')[i].get('title') %></span>
							<span class="fa-stack fa-lg detailBtn">
							  <i class="fa fa-circle fa-stack-2x"></i>
							  <i class="fa fa-ellipsis-h fa-stack-1x fa-inverse"></i>
							</span>
						</div>
						<div class="flex-end">
							<span class="done list-<%= result.get('Dreams')[i].get('done') %>"><%= changeDone(result.get('Dreams')[i].get('done')) %></span>							
							<span class="list-type">
								<%= changeType(result.get('Dreams')[i].get('type')) %>
							</span>
							<span class="list-date"><%= getLocalTime(result.get('Dreams')[i].createdAt) %></span>
						</div>
						<% } else {%>
						<div class="">
							<span class="fa-stack fa-lg disabled delBtn">
							  <i class="fa fa-circle fa-stack-2x" style="color: rgb(199, 10, 10);"></i>
							  <i class="fa fa-trash fa-stack-1x fa-inverse"></i>
							</span>
							<span class="dream-title">　</span>
						</div>
						<% }%>
					</div>
					<% }%>
				</div>
				<% }%>
            </div>
        </div>
	</div>
	<% if(result.id == UserId) {%>
	<div class="flex-column right-part">
		<div class="flex-1 flex-row flex-center">
			<div class="flex-1 flex-center">
				<span class="eraser"></span>
				<span class="pencil"></span>
			</div>
		</div>
	</div>
	<% }%>
</div>


<div class="modal-content">
	<% include ../partials/modals/upload %>
	<% include ../partials/modals/detail %>
</div>
